.main {
  display: flex;
  // min-width: 1400px;
  gap: 20px;
}

.left-container,
.right-container {
  flex-shrink: 0;
  width: calc(50% - 10px);
}

.form {
  :global(.ant-form-item:last-child) {
    margin-bottom: 0;
  }
}